{% extends 'main/base.html' %}

{% block content %}

<div class="center-content">
    <div class="center-content-tab-container">
      <a href="/calendar" class="center-content-closed-tab unselectable">Calendar</a>
      <div class="center-content-open-tab unselectable" style="margin-left: 0">My Help Sessions</div>
      <div class="help_session_filter_btn">Filter</div>
      <div class="center-content-blank-tab"></div>
    </div>
    
    <div class="center-content-tab-content-container">
        <div class="center-content-tab-content">
            <p class="successful-booking-label">Appointment Successfully Booked!</p>
            <div class="successful-booking">
                <p class="content-box-header">Monday 12:30 pm - 1:30 pm</p>
                <div style="margin-bottom:50px;">
                    <div class="content-box-holder">
                        <p class="content-box">Helper</p>
                        <p class="content-box">Topic</p>
                        <p class="content-box">Time</p>
                    </div>
                    <div class="select-menu-holder">
                        <select id="helper" name="helper" class="select-menu-disabled" disabled="true">
                            <option>{{helper}}</option>
                        </select> 
                        <select id="topic" name="topic" class="select-menu-disabled" disabled="true">
                            <option>{{topic}}</option>
                        </select> 
                        <select id="time" name="time" class="select-menu-disabled" disabled="true">
                            <option>{{time}}</option>
                        </select> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}