{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>In House Operations</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% load static %}
  <link rel="stylesheet" href="{% static '/css/style.css' %}">
</head>

<body>

  <!-- Header image and title -->
  <div class="header">

    <div class="head-strip">
      <img src="{% static 'images/head_strip.jpeg' %}" />
    </div>

    <div class="header-container">

      <div class="umaine-logo">
        <img src="{% static 'images/umaine_fullcrest_small.png' %}" />
      </div>

      <div class="header-text">
        Computer Science | Boardman Lab
      </div>

      <div class="logout-container">
        <form method="post" action="{% url 'account_logout' %}">
          {% csrf_token %}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
          {% endif %}
          <input type="submit" id="logout" value="Log Out"></input>
        </form>
        {% if user.picture %}
          <div class="logout-image-container"><img src="{{ user.picture }}" /></div>
        {% else %}
          <div class="logout-image-container"><img src="{% static 'images/login_header.png' %}" /></div>
        {% endif %}
        
      </div>

    </div>

  </div>
  <!-- End of Header image and title -->


<!-- Below Header Container -->
<div class="content-container">

  <!-- Left Flex Box -->
  <div class="left-content">
    <div class="bg-image-left">
      <img src="{% static 'images/sw_bg.jpeg' %}"/>
    </div>
    <div class="sidebar-overlay">
      {% include 'elements/leftnav.html' %}
      <div class="sidebar-blank" style="opacity: .8"></div>
      <div class="sidebar-blank" style="opacity: .6"></div>
      <div class="sidebar-blank" style="opacity: .4"></div>
      <div class="sidebar-blank" style="opacity: .2"></div>
    </div>
  </div>
<!-- End of Left Flex Box -->

{% block content %}
{% endblock %}

<!-- Right Flex Box -->
  <div class="right-content">
    <div class="bg-image-right">
      <img src="{% static 'images/sw_bg.jpeg' %}"/>
    </div>
    <div class="sidebar-overlay">
      <div class="sidebar-blank"></div>
      <div class="sidebar-blank"></div>
      <div class="sidebar-blank"></div>
      <div class="sidebar-blank" style="opacity: .8"></div>
      <div class="sidebar-blank" style="opacity: .6"></div>
      <div class="sidebar-blank" style="opacity: .4"></div>
      <div class="sidebar-blank" style="opacity: .2"></div>
    </div>

  </div>
  <!-- End of Right Flex Box -->

</div>

<!-- End of Below Header Container -->

<div class="footer">
  Copyright 2022 | University of Maine
</div>

</body>
</html>