{% load calendar_tags %}

<div class="calendar-content-strip" style = "padding-bottom: 20px;">

    <div class="calendar-content-view-menu">
        <a href="/calendarDay/{% decrement_year year month %}/{% decrement_month year month day %}/{% decrement_day year month day %}/" class="left-arrow"></a>
        <div class="text-date-menu">{% get_day_string year month day %}, {% gen_month_string month %} {{day}}, {{year}}</div>
        <a href="/calendarDay/{% increment_year year month %}/{% increment_month year month day %}/{% increment_day year month day %}/" class="right-arrow"></a>
    </div>


    <form action="/calendarMonth/0/0/0/" class="form-custom">
        <input type="submit" id="small-button" value="Month View"></input>
    </form>
    
</div>
<div class="scroll-content">
{% for helpSession in helpSessions %}
<div class="help-session-box" style="padding: 10px">
    <div class="help-session-title">{{helpSession.time}} - {% add_minutes helpSession.date helpSession.time helpSession.duration %}</div>
    <div class="help-session-info-row">
        <div class="help-session-label">Time</div>
        <div class="help-session-info">{{helpSession.time}}</div>
      </div>
    <div class="help-session-info-row">
      <div class="help-session-label">Helper</div>
      <div class="help-session-info">{{helpSession.helper.first_name}} {{helpSession.helper.last_name}}</div>
    </div>
    <div class="help-session-info-row">
      <div class="help-session-label">Topic</div>
      <div class="help-session-info">{{helpSession.topic}}</div>
    </div>
    <div class="help-session-info-row">
      <div class="help-session-label">Duration</div>
      <div class="help-session-info">{{helpSession.duration}} minutes</div>
    </div>

    <div class="help-session-info-fullrow">
      <form action="" method="post" class="form-button">
        {% csrf_token %}
        <input type="none" value={{helpSession.pk}} name="helpSession" style="display: none;"></input>
        <input type="none" value={{user.pk}} name="user" style="display: none;"></input>
        <input type="submit" name="attend" class="green" id="small-button" value="Attend Help Session"></input>
      </form>

      {% if user.is_helper and helpSession.helper == user %}
      <form action="/calendarMonth/0/0/0/" class="form-button">
          <input type="submit" class="ultrablue darktext" id="small-button" value="Edit Help Session"></input>
      </form>
      {% endif %}

      {% if user.is_helper and helpSession.helper == user %}
      <form action="" method="post" class="form-button">
        {% csrf_token %}
        <input type="none" value={{helpSession.pk}} name="helpSession" style="display: none;"></input>
        <input type="none" value={{user.pk}} name="user" style="display: none;"></input>
        <input type="submit" name="delete" class="red" id="small-button" value="Remove"></input>
      </form>
      {% endif %}
      
    </div>

  </div>
{% endfor %}
</div>

