{% load calendar_tags %}
{% load static %}
<div class="calendar-content-strip" style = "padding-bottom: 20px;">
    <div class="calendar-content-view-menu">
        <a href="/calendarDay/{% decrement_year year month %}/{% decrement_month year month day %}/{% decrement_day year month day %}/"
           class="left-arrow"></a>
        <div class="text-date-menu">{% get_day_string year month day %}, {% gen_month_string month %} {{ day }}, {{ year }}</div>
        <a href="/calendarDay/{% increment_year year month %}/{% increment_month year month day %}/{% increment_day year month day %}/"
           class="right-arrow"></a>
    </div>
    <form action="/calendarMonth/0/0/0/" class="form-custom">
        <input type="submit" id="small-button" class="lightblue" value="Month View"></input>
    </form>
</div>
<div class="scroll-content">
    {% for helpSession in helpSessions %}
        <div class="help-session-box" style="padding: 10px">
            <div class="help-session-title-fullrow">
                <div>{{ helpSession.topic }}&nbsp;
                    <div style="font-weight: 400 !important; display: inline !important;">
                    {% time_format helpSession.time %} - {% add_minutes helpSession.date helpSession.time helpSession.duration %}
                    </div>
                </div>
                <div class="help-session-mode">
                    {% if helpSession.is_remote %}
                        <div class="mode-container">
                            <img src="{% static 'images/remote_icon.png' %}" alt="remote"/>
                        </div>
                    {% endif %}
                    {% if helpSession.is_inperson %}
                        <div class="mode-container">
                            <img src="{% static 'images/inperson_icon.png' %}" alt="In Person" />
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="help-session-info-row">
                <div class="help-session-label">Helper</div>
                <div class="help-session-info">{{ helpSession.helper.first_name }} {{ helpSession.helper.last_name }}</div>
            </div>
            <div class="help-session-info-row">
                <div class="help-session-label">Topic</div>
                <div class="help-session-info">{{ helpSession.topic }}</div>
            </div>
            <div class="help-session-info-row">
                <div class="help-session-label">Time</div>
                <div class="help-session-info">{{ helpSession.time }}</div>
            </div>
            <div class="help-session-info-row">
                <div class="help-session-label">Duration</div>
                <div class="help-session-info">{{ helpSession.duration }} minutes</div>
            </div>
            {% if helpSession.notes %}
            <div class="help-session-info-row">
                <div class="help-session-label">Notes</div>
                <div class="help-session-info">{{ helpSession.notes }}</div>
            </div>
            {% endif %}
            {% if helpSession.is_remote and helpSession.remote_link %}
            <div class="help-session-info-row">
                <div class="help-session-label">Remote Link</div>
                <div class="help-session-info" style="padding:0px">
                    <a href="{{ helpSession.remote_link }}" class="blue" target="blank" id="remote-button"> Go To Remote Session</a>
                </div>
            </div>
            {% endif %}
                    
            <div class="help-session-buttons-fullrow" style="justify-content: right !important;">
            {% if helpSession.helper != user %}
                <form action="" method="post" class="form-button">
                    {% csrf_token %}
                    <input type="none" value={{ helpSession.pk }} name="helpSessionID" style="display: none;"></input>
                    <input type="submit"
                        name="attend"
                        class="green"
                        id="small-button"
                        value="Attend Help Session">
                    </input>
                </form>
            {% endif %}
            {% if user.is_helper and helpSession.helper == user %}
                <form method="post" class="form-button" action="/editHelpSession">
                    {% csrf_token %}
                    <input id="id_{{ FormEditButton.helpSessionID.html_name }}"
                        name="{{ FormEditButton.helpSessionID.html_name }}"
                        type="hidden"
                        value="{{ helpSession.pk }}">
                    </input>
                    <input type="submit"
                        name="edit"
                        class="ultrablue"
                        id="small-button"
                        value="Edit Help Session"
                        style="margin-left: 4px;">
                    </input>
                </form>
            {% endif %}
            {% if user.is_helper and helpSession.helper == user %}
                <form method="post" class="form-button">
                    {% csrf_token %}
                    <input id="id_{{ FormDeleteHelpSession.helpSessionID.html_name }}"
                        name="{{ FormDeleteHelpSession.helpSessionID.html_name }}"
                        type="hidden"
                        value="{{ helpSession.pk }}">
                    </input>
                    <input type="submit"
                        name="delete"
                        class="red"
                        id="small-button"
                        value="Remove"
                        style="margin-left: 4px;">
                    </input>
                </form>
            {% endif %}
            </div>
            
        </div>    
    {% endfor %}
</div>
