{% extends 'main/base.html' %}
{% load socialaccount %}


{% block content %}
<!-- Center Flex Box -->
<div class="center-content">
    <div class="center-content-tab-container">
      <div class="center-content-open-tab unselectable">Analytics</div>
      <div class="center-content-blank-tab"></div>
      <div class="center-content-blank-tab"></div>
    </div>
    <div class="center-content-tab-content-container">

      <div class="center-content-tab-content">

     
        <!-- PAGE CONTENT GOES HERE -->
        <div class="header-text" style="font-size: max(2.5vw, 16px) !important;">Dashboard</div>
      
          <div class="help-session-box" style="background-color:#1d2e3f !important;">
            <div class="help-session-title">At A Glance.</div>
            <div class="help-session-info-row">
                <div class="help-session-label">Users Registered</div>
                <div class="help-session-info" style="background-color: black !important;">
                    {{ total_users }}
                </div>
            </div>
            <div class="help-session-info-row">
              <div class="help-session-label">Active Users</div>
              <div class="help-session-info" style="background-color: black !important;">
                  {{ current_users }}
              </div>
            </div>
            {% if user.is_helper%}
            <div class="help-session-info-row">
              <div class="help-session-label">Sessions Created</div>
              <div class="help-session-info" style="background-color: black !important;">
                  {{ number_of_sessions }}
              </div>
            </div>
            {% endif %}
            <div class="help-session-info-row">
              <div class="help-session-label">Reservations Made</div>
              <div class="help-session-info" style="background-color: black !important;">
                  {{ number_of_reservations }}
              </div>
            </div>
            

            </div>
            <!-- END PAGE CONTENT -->

      </div>
    </div>
  </div>
  <!-- End of Center Flex Box -->

  {% endblock %}