{% extends 'main/base.html' %}
{% load socialaccount %}
{% load calendar_tags %}


{% block content %}
<!-- Center Flex Box -->
<div class="center-content">
    <div class="center-content-tab-container">
      <div class="center-content-open-tab unselectable">Analytics</div>
      <div class="center-content-blank-tab"></div>
      <div class="center-content-blank-tab"></div>
    </div>
    <div class="center-content-tab-content-container">

      <div class="center-content-tab-content">

     
        <!-- PAGE CONTENT GOES HERE -->
        <div class="header-text" style="font-size: max(2.5vw, 16px) !important;">Dashboard</div>
      
          <div class="help-session-box" style="background-color:#1d2e3f !important;">
            <div class="help-session-title">At a glance</div>
            <div class="help-session-info-row">
                <div class="help-session-label">Users Registered</div>
                <div class="help-session-info">
                    {% get_number_of_users %}
                </div>
            </div>
            <div class="help-session-info-row">
              <div class="help-session-label">Active Users (one week)</div>
              <div class="help-session-info">
                  <!--{% get_current_number_of_users %}-->
              </div>
            </div>
            {% if user.is_helper%}
            <div class="help-session-info-row">
              <div class="help-session-label">Position</div>
              <div class="help-session-info">
                  {{user.position}}
              </div>
            </div>
            {% endif %}
            <div class="help-session-info-row">
              <div class="help-session-label">Bio</div>
              <div class="help-session-info">
                  {{user.personalBio}}
              </div>
            </div>
            <div class="help-session-buttons-fullrow">
                <form method="post" class="form-button" action="/profileEdit/">
                      {% csrf_token %}
                <input type="submit"
                    name="edit"
                    class="ultrablue darktext"
                    id="small-button"
                    value="Edit my Account"
                    style="margin-left: 4px;">
                </input>
                </form>
            </div>

            </div>
            <!-- END PAGE CONTENT -->

      </div>
    </div>
  </div>
  <!-- End of Center Flex Box -->

  {% endblock %}