{% extends 'main/base.html' %}
{% load socialaccount %}


{% block leftnav %}
  <a href="/calendarMonth/0/0/0/" class="sidebar-button-open unselectable">Calendar</a>
  <a href="/calendarMonth/0/0/0/" class="sidebar-button-closed unselectable">Account</a>
  <a href="/calendarMonth/0/0/0/" class="sidebar-button-closed unselectable">Feedback</a>
{% endblock %}


{% block content %}
<!-- Center Flex Box -->
  <div class="center-content">
    <div class="center-content-tab-container">
      <div class="center-content-open-tab unselectable">Calendar</div>
      <a href="/helpsessions" class="center-content-closed-tab unselectable">My Help Sessions</a>
      <div class="center-content-blank-tab"></div>
      <div class="center-content-blank-tab"></div>
    </div>
    <div class="center-content-tab-content-container">

      <div class="center-content-tab-content">

        <!-- PAGE CONTENT GOES HERE -->
        {% include 'elements/calendarDay_content.html' %}
        <!-- END PAGE CONTENT -->

      </div>
    </div>
  </div>
  <!-- End of Center Flex Box -->

{% endblock %}