{% extends 'main/base.html' %}


{% block content %}
<!-- Center Flex Box -->
  <div class="center-content">
    <div class="center-content-tab-container">
      <a href="/calendarMonth/0/0/0/" class="center-content-closed-tab unselectable">Calendar</a>
      <div class="center-content-open-tab unselectable" style="margin-left: 0">My Help Sessions</div>
      <div class="help_session_filter_btn">Filter</div>
      <div class="center-content-blank-tab"></div>
    </div>
    <div class="center-content-tab-content-container">

      <div class="center-content-tab-content">


        <!-- PAGE CONTENT GOES HERE -->

      <form action="" method="post" class="form-custom">
        {% csrf_token %}

        <div class="help-session-box" style="padding: 10px">
          <div class="help-session-title">Help Session</div>

        <div class="help-session-info-row">
          <div class="help-session-label">Helper</div>
          <div class="help-session-info">{{user.first_name}} {{user.last_name}}
            <input name="user" value={{user}} style="display: none;">
          </div>
        </div>

        <div class="help-session-info-row">  
          <div class="help-session-label">Date</div>
            <div class="help-session-info">
              <input type="date" id="start" name="date"
              value="{{year}}-{{month}}-{{day}}"
              min="" max="">
            </div>
        </div>
          
        <div class="help-session-info-row">
          <div class="help-session-label">Time</div>
              <div class="help-session-info">
                <input type="time" id="start" name="time"
                  value=""
                  min="" max="">
              </div>
        </div>

          <div class="help-session-info-row">
            <div class="help-session-label">Duration</div>
            <div class="help-session-info">
              
              <select name="duration" id="select">
                <option value="15">15 min</option>
                <option value="30">30 min</option>
                <option value="45">45 min</option>
                <option value="60">60 min</option>
              </select>
            
            </div>
          </div>
          
          <div class="help-session-info-row">
            <div class="help-session-label">Topic</div>

            <div class="help-session-info">

              <select name="topic" id="select">
                <option value="all">All</option>
                {% for topic in user.topics.all %}
                  <option value="{{topic}}">{{topic}}</option>
                {% endfor %}
                
              </select>


            </div>
          </div>

            <input type="submit" id="small-button" value="Create New Help Session" class="ultrablue"></input>

        </div>


      </form>



        
      </div>
    </div>
  </div>
<!-- End Center Flex Box -->
{% endblock %}