{% extends 'main/base.html' %}


{% block content %}
<!-- Center Flex Box -->
  <div class="center-content">
    <div class="center-content-tab-container">
      <a href="/calendarMonth/0/0/0/" class="center-content-closed-tab unselectable">Calendar</a>
       <a href="/helpsessions" class="center-content-closed-tab unselectable">Sessions</a>
      {% if user.is_helper or user.is_admin %}
      <div class="center-content-open-tab unselectable" style="margin-left: 0">Manage</div>
      {% endif %}
      <div class="center-content-blank-tab"></div>
    </div>
    <div class="center-content-tab-content-container">

      <div class="center-content-tab-content">

        <!-- PAGE CONTENT GOES HERE -->
      <form action="" method="post" class="form-custom" style="width:90%">
        {% csrf_token %}
        {{ FormCreateHelpSession.non_field_errors }}
        <div class="help-session-box" style="padding: 10px">
          <div class="help-session-title">New Help Session</div>

        <div class="help-session-info-row">
          <div class="help-session-label">Helper</div>
          <div class="help-session-info">{{user.first_name}} {{user.last_name}}
            <input name="user" value={{user}} style="display: none;">
          </div>
        </div>

        <div class="help-session-info-row">  
          <div class="help-session-label">Date</div>
            <div class="help-session-info">
              {{FormCreateHelpSession.date}}
              {{FormCreateHelpSession.errors}}
            </div>
        </div>
          
        <div class="help-session-info-row">
          <div class="help-session-label">Time</div>
              <div class="help-session-info">
                {{FormCreateHelpSession.time}}
                {{FormCreateHelpSession.errors}}
              </div>
        </div>

          <div class="help-session-info-row">
            <div class="help-session-label">Duration</div>
            <div class="help-session-info">
              
              {{FormCreateHelpSession.duration}}
              {{FormCreateHelpSession.errors}}
            
            </div>
          </div>
          
          <div class="help-session-info-row">
            <div class="help-session-label">Topic</div>

            <div class="help-session-info">

              {{FormCreateHelpSession.topic}}
              {{FormCreateHelpSession.errors}}

            </div>
          </div>

            <input type="submit" id="small-button" value="Create New Help Session" class="ultrablue"></input>
            
        </div>
        {{FormCreateHelpSession.errors}}
            

      </form>


        
      </div>
    </div>
  </div>
<!-- End Center Flex Box -->
{% endblock %}