<!DOCTYPE html>
<html lang="en">
<head>
<title>In House Operations</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="css/style.css">
</head>

<body>
  <div class="header">
    <div class="head-strip">
      <img src="images/head_strip.jpeg" />
    </div>
    <div class="header-text">
      Computer Science | Boardman Lab
    </div>
    
  </div>


<div class="content-container">
    <div class="error-container"></div>
    <div class="content-bgimage">
    <img src="images/sw_bg.jpeg" />
    </div>
    <div class="error-container">

        <div class="input-container">
            <div class="error_title"><b>Error 404:</b> Page Not Found</div>
            <div class="error_text">Uh Oh... it seems like there was an issue loading the page...</div>
            <a href="index.html" class="error_return">Back to whatever it was I was doing</a>
        </div>
    
        <div class="error-window-bottom-bar">Powered by Google OAUTH</div>

    </div>
</div>



<div class="footer">
  Copyright 2022 | University of Maine
</div>


</body>

</html>