{% extends 'main/base.html' %}


{% block leftnav %}
      <a href="index.html" class="sidebar-button-open unselectable">Calendar</a>
      <a href="index.html" class="sidebar-button-closed unselectable">Account</a>
      <div class="sidebar-blank" style="opacity: .8"></div>
{% endblock %}

{% block content %}
<!-- Center Flex Box -->
  <div class="center-content">
    <div class="center-content-tab-container">
      <a href="/calendarMonth/0/0/0/" class="center-content-closed-tab unselectable">Calendar</a>
      <div class="center-content-open-tab unselectable" style="margin-left: 0">My Help Sessions</div>
      <div class="help_session_filter_btn">Filter</div>
      <div class="center-content-blank-tab"></div>
    </div>
    <div class="center-content-tab-content-container">

      <div class="center-content-tab-content">
        <!-- PAGE CONTENT GOES HERE -->
        CALENDER
      
      
      
      </div>
    </div>
  </div>
<!-- End Center Flex Box -->
{% endblock %}