{% extends 'main/base_simple.html' %}
{% load static %}


<!-- Page Content -->
{% block content %}
<div class="content-container">

    <div class="login-container"></div>
    <div class="content-bgimage">
    <img src="{% static 'images/sw_bg.jpeg' %}" />
    </div>
    <div class="login-container">
        <div class="login-logo"><img src="{% static 'images/umaine_fullcrest_small.png' %}" /></div>

        <div class="input-container">
            <form action="/index.html">
            <input type="text" id="email" name="firstname" placeholder="Umaine Username">
            <input type="text" id="password" name="lastname" placeholder="password">
            <input type="submit" value="Login">
            </form>
            <a href="index.html" class="tos">Terms of Service</a>
        </div>
    
        <div class="input-bottom-bar">Powered by Google OAUTH</div>

    </div>

</div>


<!-- End of Page Content -->
{% endblock %}
