{% extends 'main/base.html' %}
{% load calendar_tags %}

{% block content %}
<!-- Center Flex Box -->
  <div class="center-content">
    <div class="center-content-tab-container">
      <a href="/calendarMonth/0/0/0/" class="center-content-closed-tab unselectable">Calendar</a>
      <a href="/helpsessions" class="center-content-closed-tab unselectable" style="margin-left: 0">Sessions</a>
      {% if user.is_helper or user.is_admin %}
      <div class="center-content-open-tab unselectable" style="margin-left: 0">Manage</div>
      {% endif %}
      <div class="center-content-blank-tab"></div>
    </div>
    <div class="center-content-tab-content-container">

      <div class="center-content-tab-content">


      <!-- PAGE CONTENT GOES HERE -->
      

      <!-- BEGIN MANAGE MENU -->

      {% if user.is_helper %}
      <div class="manage-content-strip">
        <a href="/createHelpSession/" id="create-button">Create Help Session</a>
      </div>

      <!-- Filter -->
      {% include 'elements/filter_manageHelpSessions.html' %}
      <!-- End of Filter -->

      {% endif %}
      <!-- END MANAGE MENU -->
      
      <!-- BEGIN SCROLLABLE CONTENT -->
      <div class="scroll-content">

        {% for helpSession in helpSessions %}
        <div class="help-session-box" style="padding: 10px">
          <div class="help-session-title">{{ helpSession.date }}</div>
          <div class="help-session-info-row">
              <div class="help-session-label">Time</div>
              <div class="help-session-info">{% time_format helpSession.time %}- {% add_minutes helpSession.date helpSession.time helpSession.duration %}</div>
          </div>
          <div class="help-session-info-row">
            <div class="help-session-label">Helper</div>
            <div class="help-session-info">{{helpSession.helper.first_name}} {{helpSession.helper.last_name}}</div>
          </div>
          <div class="help-session-info-row">
            <div class="help-session-label">Topic</div>
            <div class="help-session-info">{{helpSession.topic}}</div>
          </div>
          <div class="help-session-info-row">
            <div class="help-session-label">Duration</div>
            <div class="help-session-info">{{helpSession.duration}} minutes</div>
          </div>

          <div class="help-session-info-fullrow">

          {% if user.is_helper and helpSession.helper == user %}
            <form method="post" class="form-button" action="/editHelpSession">
                {% csrf_token %}
                <input id="id_{{FormEditButton.helpSessionID.html_name}}" name="{{FormEditButton.helpSessionID.html_name}}" type="hidden" value="{{helpSession.pk}}"></input>
                <input type="submit" name="edit" class="ultrablue darktext" id="small-button" value="Edit Help Session"></input>
            </form>
          {% endif %}

          {% if user.is_helper and helpSession.helper == user %}
            <form method="post" class="form-button">
              {% csrf_token %}
              <input id="id_{{FormDeleteHelpSession.helpSessionID.html_name}}" name="{{FormDeleteHelpSession.helpSessionID.html_name}}" type="hidden" value="{{helpSession.pk}}"></input>
              <input type="submit" name="delete" class="red" id="small-button" value="Remove"></input>
            </form>
          {% endif %}
          

          </div>

        </div>
      {% endfor %}

      </div> <!-- END SCROLLABLE CONTENT -->

      </div>
    </div>
  </div>
<!-- End Center Flex Box -->
{% endblock %}