{% extends 'main/base.html' %}
{% load calendar_tags %}
{% load static %}
{% block content %}
    <!-- Center Flex Box -->
    <div class="center-content">
        <div class="center-content-tab-container">
            <a href="/calendarMonth/0/0/0/"
               class="center-content-closed-tab unselectable">Calendar</a>
            <a href="/helpsessions" class="center-content-closed-tab unselectable">Sessions</a>
            {% if user.is_helper or user.is_admin %}<div class="center-content-open-tab unselectable">Manage</div>{% endif %}
            <div class="center-content-blank-tab unselectable"></div>
        </div>
        <div class="center-content-tab-content-container">
            <div class="center-content-tab-content">
                <!-- PAGE CONTENT GOES HERE -->
                <div class="help-session-box">
                    <div class="help-session-title-fullrow">
                        <div>Recurring Help Session</div>
                        <div class="help-session-mode">
                            {% if base_hs.is_remote %}
                                <div class="mode-container">
                                    <img src="{% static 'images/remote_icon.png' %}" alt="remote"/>
                                </div>
                            {% endif %}
                            {% if base_hs.is_inperson %}
                                <div class="mode-container">
                                    <img src="{% static 'images/inperson_icon.png' %}" alt="In Person" />
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="help-session-info-row">
                        <div class="help-session-label">Start Date</div>
                        <div class="help-session-info">{{ base_hs.date }}</div>
                    </div>
                    <div class="help-session-info-row">
                        <div class="help-session-label">Time</div>
                        <div class="help-session-info">{{ base_hs.time }}</div>
                    </div>
                    <div class="help-session-info-row">
                        <div class="help-session-label">Helper</div>
                        <div class="help-session-info">{{ base_hs.helper.first_name }} {{ base_hs.helper.last_name }}</div>
                    </div>
                    <div class="help-session-info-row">
                        <div class="help-session-label">Topic</div>
                        <div class="help-session-info">{{ base_hs.topic }}</div>
                    </div>
                    <div class="help-session-info-row">
                        <div class="help-session-label">Duration</div>
                        <div class="help-session-info">{{ base_hs.duration }} minutes</div>
                    </div>
                    {% if base_hs.is_remote %}
                        <div class="help-session-info-row">
                            <div class="help-session-label">Remote Link</div>
                            <div class="help-session-info" style="padding:0px">
                                <a href={{ base_hs.remote_link }} class="red" target="blank" id="remote-button"> Go To Remote Session</a>
                            </div>
                        </div>
                    {% endif %}
                </div>
                <!-- Recur Form -->
                <form action=""
                      method="post"
                      class="form-custom"
                      style="width:100%; padding:0px!important">
                    {% csrf_token %}
                    {{ Form_Recur.non_field_errors }}
                    <div class="help-session-box" style="margin-top:0px!important;">
                        <div class="help-session-title">Recurrance</div>
                        <div class="help-session-info-row">
                            <div class="help-session-label">Frequency</div>
                            <div class="help-session-info">
                                {{ Form_Recur.frequency }}
                                {{ Form_Recur.errors }}
                            </div>
                        </div>
                        <div class="help-session-info-row">
                            <div class="help-session-label">Days</div>
                            <div class="help-session-info">
                                {{ Form_Recur.days }}
                                {{ Form_Recur.errors }}
                            </div>
                        </div>
                        <div class="help-session-info-row">
                            <div class="help-session-label">End Date</div>
                            <div class="help-session-info">
                                {{ Form_Recur.end_date }}
                                {{ Form_Recur.errors }}
                            </div>
                        </div>
                        <div class="help-session-buttons-fullrow"
                             style="justify-content: right !important;">
                            <div>&nbsp;</div>
                            <input id="id_{{ Form_Recur.helpSessionID.html_name }}"
                                   name="{{ Form_Recur.helpSessionID.html_name }}"
                                   type="hidden"
                                   value="{{ base_hs.pk }}">
                        </input>
                        <input type="submit"
                               name="cancel"
                               class="red"
                               id="small-button"
                               value="Cancel"
                               formnovalidate>
                    </input>
                    <input type="submit"
                           name="setrecur"
                           class="green"
                           id="small-button"
                           value="Make Recurring"
                           style="margin-left: 4px;">
                </input>
            </div>
        </div>
    </form>
    <!-- End Recur Form -->
</div>
</div>
</div>
<!-- End Center Flex Box -->
{% endblock %}
