{% extends 'main/success_base.html' %}
{% load socialaccount %}
{% load static %}
{% block content %}
    <div class="content-container">
        <div class="error-container"></div>
        <div class="content-bgimage">
            <img src="{% static 'images/sw_bg.jpeg' %}" />
        </div>
        <div class="error-container">
            <div class="input-container">
                <div class="error-title">
                    <b>Success</b>
                </div>

                    {% if created_new %}
                        <p class="error-text">
                            New Help Session Successfully Created
                        </p>
                    {% endif %}
                    <!-- CHECK IF ALREADY ATTENDING -->
                    {% if already_attending %}
                        <p class="error-text">
                            You are already booked for this help session.
                        </p>
                    {% endif %}
                    <!-- CHECK IF SUCCESSFUL BOOKING -->
                    {% if new_reservation %}
                        <p class="error-text">
                            Appointment Successfully Booked!
                        </p>
                    {% endif %}
                    <!-- CHECK IF EDITED HELPSESSION -->
                    {% if editedHelpSession %}
                        <p class="error-text">
                            Help Session Successfully Edited!
                        </p>
                    {% endif %}
                    <!-- CHECK IS EDITED FEEDBACK-->
                    {% if editedHelpSessionFeedback %}
                        <p class="error-text">
                            Help Session Feedback Successfully Edited!
                        </p>
                    {% endif %}
                    <!-- CHECK IS EDITED FEEDBACK-->
                    {% if recur_success %}
                        <p class="error-text">
                            Reccurance successfully saved!
                        </p>
                    {% endif %}

                    {% if profile_edit %}
                        <p class="error-text">
                            You've successfully made a change to your profile!
                        </p>
                    {% endif %}

                </div>
                <div class="error-window-bottom-bar">Success is sweet</div>
            </div>
        </div>
    {% endblock %}