{% extends 'errors/error_base.html' %}
{% load static %}

{% block content %}
<div class="content-container">
    <div class="error-container"></div>
    <div class="content-bgimage">
    <img src="{% static 'images/sw_bg.jpeg' %}" />
    </div>
    <div class="error-container">

        <div class="input-container">
            <div class="error_title"><b>Error 400:</b> Page Not Found</div>
            <div class="error_text">Uh Oh... it seems like there was an issue loading the page...</div>
            <a href="/home" class="error_return">Back to whatever it was I was doing</a>
        </div>
    
        <div class="error-window-bottom-bar">Error brought to you by your own ineptitude</div>

    </div>
</div>
{% endblock %}
